<h1>Just Jokes</h1>

<% @jokes.each_with_index do |joke, index| %>
  <blockquote>
    <span><%= index + 1 %></span>
    <p><%= joke.words %></p>
    <div class="text-right">
      <cite><%= joke.comedian.name %></cite>
    </div>
  </blockquote>
<% end %>
