<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Jokes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"/>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <%= yield %>
  <footer>made with <span class="hearts">&#9825;</span> by braden</footer>
</body>
</html>